# Compiled files
*.class
target/
out/
build/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
.idea_modules/
.idea/

# VS Code
.vscode/

# Mac
.DS_Store

# Logs
*.log

# Gradle
.gradle/
gradle-app.setting

# Maven
pom.xml.versionsBackup
/src/main/java/me/fbiflow/celestialcore/zlocal/
/project_analysis.txt
